# run 'vsce ls' to verify only the correct files are included
# learn more: https://code.visualstudio.com/api/working-with-extensions/publishing-extension#using-.vscodeignore

**
!dist/**/*.js
!dist/**/*.json
!static/fonts/*.woff
!static/icon.png
!package.nls.json
!CHANGELOG.md
!LICENSE.md
